.about-us {

    &__wrap-banners {
        display: grid;
        grid-row-gap: 24px;
        padding-top: 8px;
    }

    &__banner {
        position: relative;
        background-color: $color-4;
        border-radius: 10px;
        overflow: hidden;
        min-height: 360px;

        &--direction--left {
            .about-us {

                &__banner-wrap-info {
                    grid-template-columns: auto max-content;
                }

                &__banner-subtitle {
                    max-width: 655px;
                }

                &__banner-bg {
                    * {
                        object-position: right;
                    }
                }
            }
        }

        &--direction--right {

            .about-us {

                &__banner-wrap-info {
                    grid-template-columns: max-content auto;
                }

                &__banner-bg {
                    * {
                        object-position: left;
                    }
                }
            }
        }
    }

    &__banner-block-info {
        padding: 64px 56px;

        .title {
            margin-bottom: 0;
        }
    }

    &__banner-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        * {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__banner-subtitle {
        display: block;
        margin-top: 24px;
        @include adaptiv-font(18, 16);
        line-height: 1.7em;
    }

    &__banner-wrap-info {
        position: relative;
        z-index: 1;
        display: grid;
    }

    &__banner-image {
        width: 556px;
        height: 363px;

        * {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
    }
}