.bar-price {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    justify-content: space-between;
    padding: 25px 24px;
    background-color: $color-4;
    border-radius: 10px;

    &__wrap-price {}

    &__block-price {
        display: grid;
        grid-template-columns: repeat(2, max-content);
        grid-column-gap: 8px;
        align-items: end;
    }

    &__price {
        font-weight: 600;
        @include adaptiv-font(32, 24);
    }

    &__old-price {
        color: $color-9;
        opacity: 0.5;
        @include adaptiv-font(18, 16);
        text-decoration: line-through;
    }

    &__quantity {
        font-size: 14px;
        color: $color-9;
    }

    &__wrap-actions {
        display: grid;
        grid-template-columns: repeat(2, max-content);
        align-items: center;
        grid-column-gap: 8px;
    }

    .counter {
        height: 48px;
    }

    .btn {

        &__icon use {
            stroke-width: 1;
        }
    }
}