.form {
    padding: 24px;
    width: 355px;
    border: 1px solid $color-8;
    border-radius: 10px;
    background-color: $color-1;

    &__form {}

    &__title {
        font-weight: 600;
        font-size: 24px;
        letter-spacing: -0.2px;
    }

    &__wrap-fields {
        display: grid;
        grid-row-gap: 8px;
        margin-top: 20px;
    }

    &__privacy-policy .checkbox__text,
    &__privacy-policy .checkbox__text a {
        @include adaptiv-font(14, 12);
    }

    &__privacy-policy {
        margin-top: 24px;

        .checkbox {
            &__label {
                padding-left: 24px;
            }

            &__text {
                @include adaptiv-font(14, 12);
                color: $color-9;
                line-height: 1.57;

                a {
                    color: $color-2;
                }
            }

            &__decore {
                top: 5px;
                width: 16px;
                height: 16px;

                &::before {
                    width: 16px;
                    height: 16px;
                }
            }
        }
    }

    &__link {
        display: grid;
        margin-top: 16px;
        text-align: center;
        color: $color-2;
        transition: color $transition-time;

        &:hover {
            color: $color-3;
        }
    }

    &__wrap-actions {
        display: grid;
        grid-template-columns: repeat(2, max-content);
        justify-content: space-between;
        align-items: center;
        margin-top: 18px;

        .checkbox {

            &__text {
                font-size: 12px;
                color: $color-9;
                letter-spacing: -0.2px;
            }
        }
    }

    &__link-reset {
        font-size: 12px;
        color: $color-2;
        letter-spacing: -0.2px;
        transition: color $transition-time;

        &:hover {
            color: $color-3;
        }
    }

    &__message {
        display: grid;
        text-align: center;
        margin-bottom: 16px;
        @include adaptiv-font(18, 14);
        line-height: 1.35em;
    }

    &__subtitle {
        display: grid;
        margin-top: 8px;
        text-align: center;
        @include adaptiv-font(18, 14);
        color: $color-9;
        line-height: 1.35em;
    }

    .btn {
        width: 100%;
        margin-top: 24px;
    }
}