.news-detailed {

    &__wrap-info {}

    &__image {
        width: 100%;
        height: 495px;
        object-fit: cover;
        object-position: center;
    }

    &__block-info {
        display: grid;
        grid-row-gap: 8px;
        margin-top: 32px;

        .title {
            margin-bottom: 0;
        }
    }

    &__date {
        @include adaptiv-font(18, 16);
        color: $color-9;
    }

    &__block-text {
        display: grid;
        grid-row-gap: 16px;
        margin-top: 32px;

        p {
            margin: 0;
            @include adaptiv-font(18, 16);
            line-height: 1.7em;
        }
    }

    .bifurcation {
        padding-top: 8px;

        .form {
            margin-top: 0;
        }
    }
}