.m-modal {

    &__close-icon {
        width: 24px;
        height: 24px;
    }

    &__block-head {
        display: grid;
        justify-items: center;
        grid-row-gap: 16px;
    }

    &__title,
    &__subtitle {
        text-align: center;
    }

    &__title {
        font-size: 24px;
        font-weight: 600;
    }

    &__subtitle {
        font-size: 18px;
        line-height: 1.35em;
    }

    .form {
        padding: 0;
        border: none;
        margin-top: 16px;
        width: 100%;

        &__wrap-fields {
            margin: 0;
        }

        &__privacy-policy,
        &__privacy-policy a {
            font-size: 12px;
            line-height: 1.35em;
        }

        &__privacy-policy {
            display: block;
            margin-top: 8px;
            text-align: center;

            a {
                color: $color-9;
                transition: color $transition-time;

                &:hover {
                    color: $color-2;
                }
            }
        }
    }

    &__block-btns {
        margin-top: 32px;

        .btn {
            width: 100%;
        }
    }

    &__link {
        display: grid;
        margin-top: 8px;
        text-align: center;
        color: $color-9;
        transition: color $transition-time;

        &:hover {
            color: $color-2;
        }
    }

    &.hystmodal {
        .hystmodal {

            &__wrap {
                padding: 0 20px;
            }

            &__window {
                padding: 56px 40px 40px 40px;
                background: $color-1;
                width: 100%;
                max-width: 435px;
                border-radius: 10px;
            }

            &__close {
                top: 24px;
                right: 24px;
                width: 24px;
                height: 24px;
                padding: 0;
                background-image: none;
                transition: opacity 0.3s;

                &:hover {
                    opacity: 0.6;
                }

                &:focus {
                    outline: none;
                }
            }
        }
    }
}