<section class="about-us section">
    <div class="main-container max-width">
        <h1 class="title title--h1 title-reset">О нас</h1>
        <div class="about-us__wrap-banners">
            <div class="about-us__banner about-us__banner--direction--left">
                <picture class="about-us__banner-bg">
                    <source srcset="./assets/images/picture-6.jpg" media="(min-width: 992px)">
                    <img src="./assets/images/picture-6-mob.jpg" alt="">
                </picture>
                <div class="about-us__banner-wrap-info">
                    <div class="about-us__banner-block-info">
                        <h2 class="title title--h1 title-reset">Наш ассортимент насчитывает более 7000 наименований</h2>
                        <span class="about-us__banner-subtitle">
                            Лакокрасочная продукция, инструменты, товары для дома.
                            Мы представляем товар как российских производителей, так и зарубежных.
                        </span>
                    </div>
                    <picture class="about-us__banner-image">
                        <source srcset="./assets/images/image-7.png" media="(min-width: 992px)">
                        <img src="./assets/images/image-7-mob.png" alt="">
                    </picture>
                </div>
            </div>
            <div class="about-us__banner about-us__banner--direction--right">
                <picture class="about-us__banner-bg">
                    <source srcset="./assets/images/picture-7.jpg" media="(min-width: 992px)">
                    <img src="./assets/images/picture-7-mob.jpg" alt="">
                </picture>
                <div class="about-us__banner-wrap-info">
                    <picture class="about-us__banner-image">
                        <source srcset="./assets/images/image-8.png" media="(min-width: 992px)">
                        <img src="./assets/images/image-8-mob.png" alt="">
                    </picture>
                    <div class="about-us__banner-block-info">
                        <h2 class="title title--h1 title-reset">Каждый день наш отдел закупок ищет самые интересные
                            товары для ваших магазинов</h2>
                        <span class="about-us__banner-subtitle">
                            Наши торговые представители всегда готовы рассказать о преимуществах нашей компании и
                            заводов, которые мы представляем на рынке, а менеджеры могут помочь Вам подобрать самые
                            выгодные и популярные товары!
                        </span>
                    </div>
                </div>
            </div>
            <div class="about-us__banner about-us__banner--direction--left">
                <picture class="about-us__banner-bg">
                    <source srcset="./assets/images/picture-8.jpg" media="(min-width: 992px)">
                    <img src="./assets/images/picture-8-mob.jpg" alt="">
                </picture>
                <div class="about-us__banner-wrap-info">
                    <div class="about-us__banner-block-info">
                        <h2 class="title title--h1 title-reset">Мы всегда готовы к взаимовыгодному сотрудничеству</h2>
                        <span class="about-us__banner-subtitle">
                            Наша команда стремится к одной цели: сделать Ваш магазин максимально привлекательным и
                            интересным для Ваших покупателей.
                        </span>
                    </div>
                    <picture class="about-us__banner-image">
                        <source srcset="./assets/images/image-9.png" media="(min-width: 992px)">
                        <img src="./assets/images/image-9-mob.png" alt="">
                    </picture>
                </div>
            </div>
        </div>
    </div>
</section>