<section class="advantages">
    <div class="main-container max-width">
        <ul class="advantages__list list-reset">
            <li class="advantages__li">
                <img src="./assets/images/checklist.svg" class="advantages__icon" alt="">
                <span class="advantages__sign">Большой выбор товаров</span>
            </li>
            <li class="advantages__li">
                <img src="./assets/images/sale.svg" class="advantages__icon" alt="">
                <span class="advantages__sign">Доступные цены</span>
            </li>
            <li class="advantages__li">
                <img src="./assets/images/map-point-wave.svg" class="advantages__icon" alt="">
                <span class="advantages__sign">Удобная доставка и оплата</span>
            </li>
            <li class="advantages__li">
                <img src="./assets/images/chat-square-like.svg" class="advantages__icon" alt="">
                <span class="advantages__sign">Всегда на связи и помогаем</span>
            </li>
        </ul>
    </div>
</section>