<section class="banner section" data-banner="main">
    <div class="main-container max-width">
        <div class="swiper banner__slider" data-banner="slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="banner__block-banner">
                        <picture class="banner__picture">
                            <source srcset="./assets/images/main-banner.png" media="(min-width: 992px)" />
                            <img src="./assets/images/main-mob-banner.png" alt="" />
                          </picture>
                        <div class="banner__banner-content">
                            <span class="title title--h1 title-reset"><b>Stay</b> Connected!</span>
                            <span class="banner__sign">Подписывайтесь на наши социальные сети</span>
                            @include('../ui/social-network.html')
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="banner__block-banner">
                        <picture class="banner__picture">
                            <source srcset="./assets/images/main-banner.png" media="(min-width: 992px)" />
                            <img src="./assets/images/main-mob-banner.png" alt="" />
                          </picture>
                        <div class="banner__banner-content">
                            <span class="title title--h1 title-reset"><b>Stay</b> Connected!</span>
                            <span class="banner__sign">Подписывайтесь на наши социальные сети</span>
                            @include('../ui/social-network.html')
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="banner__block-banner">
                        <picture class="banner__picture">
                            <source srcset="./assets/images/main-banner.png" media="(min-width: 992px)" />
                            <img src="./assets/images/main-mob-banner.png" alt="" />
                          </picture>
                        <div class="banner__banner-content">
                            <span class="title title--h1 title-reset"><b>Stay</b> Connected!</span>
                            <span class="banner__sign">Подписывайтесь на наши социальные сети</span>
                            @include('../ui/social-network.html')
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination" data-banner="pagination"></div>
        </div>
    </div>
</section>