<div class="bar-price" data-bar-price="main">
    <div class="bar-price__wrap-price">
        <div class="bar-price__block-price">
            <span class="bar-price__price">254.00р</span>
            <span class="bar-price__old-price">380.00р</span>
        </div>
        <span class="bar-price__quantity">В наличии: много</span>
    </div>
    <div class="bar-price__wrap-actions">
        @include('../ui/counter.html')
        <button type="button" class="btn btn--theme--primary">
            <span class="btn__text">В корзину</span>
            <img src="./assets/images/card.svg" class="btn__icon" alt="">
        </button>
    </div>
</div>