<section class="brands section section--theme--secondary">
    <div class="main-container max-width">
        <h2 class="title title--h2 title-reset">Бренды</h2>
        <div class="brands__wrap-cards">
            <div class="brand-card">
                <img src="./assets/images/abc-farben.png" alt="" class="brand-card__logo">
                <span class="brand-card__name">АБС Фарбен</span>
            </div>
            <div class="brand-card">
                <img src="./assets/images/decorix.png" alt="" class="brand-card__logo">
                <span class="brand-card__name">Аэрозольные краски DECORIX</span>
            </div>
            <div class="brand-card">
                <img src="./assets/images/soudal.png" alt="" class="brand-card__logo">
                <span class="brand-card__name">Пена Соудал</span>
            </div>
            <div class="brand-card">
                <img src="./assets/images/tytan.png" alt="" class="brand-card__logo">
                <span class="brand-card__name">Пена Титан</span>
            </div>
            <div class="brand-card">
                <img src="./assets/images/kamensk.png" alt="" class="brand-card__logo">
                <span class="brand-card__name">Продукция Каменск</span>
            </div>
            <div class="brand-card">
                <img src="./assets/images/divo-zlata.png" alt="" class="brand-card__logo">
                <span class="brand-card__name">Продукция ЛКЗ Азов</span>
            </div>
            <div class="brand-card">
                <img src="./assets/images/prestige.png" alt="" class="brand-card__logo">
                <span class="brand-card__name">Продукция ЛКЗ-Престиж</span>
            </div>
            <div class="brand-card">
                <img src="./assets/images/now-bithim.png" alt="" class="brand-card__logo">
                <span class="brand-card__name">Продукция НовБытХим</span>
            </div>
            <div class="brand-card">
                <img src="./assets/images/rpg.png" alt="" class="brand-card__logo">
                <span class="brand-card__name">Растворители</span>
            </div>
            <div class="brand-card">
                <img src="./assets/images/tytan.png" alt="" class="brand-card__logo">
                <span class="brand-card__name">Пена Титан</span>
            </div>
            <div class="brand-card">
                <img src="./assets/images/abc-farben.png" alt="" class="brand-card__logo">
                <span class="brand-card__name">АБС Фарбен</span>
            </div>
            <div class="brand-card">
                <img src="./assets/images/decorix.png" alt="" class="brand-card__logo">
                <span class="brand-card__name">Аэрозольные краски DECORIX</span>
            </div>
        </div>
    </div>
</section>