<section class="catalog" data-catalog="main">
    <div class="main-container max-width">
        <h1 class="title title--h1 title-reset">Абразивный инструмент 3-ON (18)</h1>
        <div class="catalog__wrap-content">
            <div class="catalog__wrap-filter" data-catalog="wrap-filter">
                <div class="catalog__block-mob">
                    <a href="##" class="logo">
                        <img src="./assets/images/logo-dark.svg" class="logo__image" alt="">
                    </a>
                    <button type="button" class="catalog__btn-close-mob-filter" data-catalog="close-mob-filter">
                        <svg class="catalog__close-mob-filter">
                            <use xlink:href="./assets/icons/sprite-svg.svg#close-m" />
                        </svg>
                    </button>
                </div>
                <div class="catalog__categories">
                    <ul class="catalog__list-categories catalog__list-categories--first-level list-reset">
                        <li class="catalog__li-categories">
                            <div class="catalog__li-head-categories" data-catalog="li-head-categories">
                                <span class="catalog__li-title-categories">Престиж ГОСТ</span>
                                <svg class="catalog__li-icon-categories">
                                    <use xlink:href="./assets/icons/sprite-svg.svg#filter-arrow-down"></use>
                                </svg>
                            </div>
                            <ul class="catalog__list-categories catalog__list-categories--second-level list-reset">
                                <li class="catalog__li-categories">
                                    <div class="catalog__li-head-categories" data-catalog="li-head-categories">
                                        <span class="catalog__li-title-categories">Аэрозоли Престиж</span>
                                        <svg class="catalog__li-icon-categories">
                                            <use xlink:href="./assets/icons/sprite-svg.svg#filter-arrow-down"></use>
                                        </svg>
                                    </div>
                                    <ul
                                        class="catalog__list-categories catalog__list-categories--third-level list-reset">
                                        <li class="catalog__li-categories">
                                            <a href="#" class="catalog__li-head-categories list-reset"> <!-- active -->
                                                <span class="catalog__li-title-categories">Аэрозоль эффект металлик
                                                    Престиж</span>
                                            </a>
                                        </li>
                                        <li class="catalog__li-categories">
                                            <a href="#" class="catalog__li-head-categories list-reset"> <!-- active -->
                                                <span class="catalog__li-title-categories">Аэрозоль эффект металлик
                                                    Престиж 2</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="catalog__li-categories">
                                    <div class="catalog__li-head-categories" data-catalog="li-head-categories">
                                        <span class="catalog__li-title-categories">Акватонер Престиж</span>
                                        <svg class="catalog__li-icon-categories">
                                            <use xlink:href="./assets/icons/sprite-svg.svg#filter-arrow-down"></use>
                                        </svg>
                                    </div>
                                    <ul
                                        class="catalog__list-categories catalog__list-categories--third-level list-reset">
                                        <li class="catalog__li-categories">
                                            <a href="#" class="catalog__li-head-categories list-reset"> <!-- active -->
                                                <span class="catalog__li-title-categories">Аэрозоль эффект металлик
                                                    Престиж</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="catalog__li-categories">
                                    <div class="catalog__li-head-categories" data-catalog="li-head-categories">
                                        <span class="catalog__li-title-categories">Биотонер Престиж</span>
                                        <svg class="catalog__li-icon-categories">
                                            <use xlink:href="./assets/icons/sprite-svg.svg#filter-arrow-down"></use>
                                        </svg>
                                    </div>
                                    <ul
                                        class="catalog__list-categories catalog__list-categories--third-level list-reset">
                                        <li class="catalog__li-categories">
                                            <a href="#" class="catalog__li-head-categories list-reset"> <!-- active -->
                                                <span class="catalog__li-title-categories">Аэрозоль эффект металлик
                                                    Престиж</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="catalog__li-categories">
                                    <div class="catalog__li-head-categories" data-catalog="li-head-categories">
                                        <span class="catalog__li-title-categories">Грунт быстросохнущий </span>
                                        <svg class="catalog__li-icon-categories">
                                            <use xlink:href="./assets/icons/sprite-svg.svg#filter-arrow-down"></use>
                                        </svg>
                                    </div>
                                    <ul
                                        class="catalog__list-categories catalog__list-categories--third-level list-reset">
                                        <li class="catalog__li-categories">
                                            <a href="#" class="catalog__li-head-categories list-reset"> <!-- active -->
                                                <span class="catalog__li-title-categories">Аэрозоль эффект металлик
                                                    Престиж</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="catalog__li-categories">
                                    <a href="#" class="catalog__li-head-categories" data-catalog="li-head-categories">
                                        <span class="catalog__li-title-categories">Грунт-эмаль три в одном</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="catalog__li-categories">
                            <div class="catalog__li-head-categories" data-catalog="li-head-categories">
                                <span class="catalog__li-title-categories">Складно</span>
                                <svg class="catalog__li-icon-categories">
                                    <use xlink:href="./assets/icons/sprite-svg.svg#filter-arrow-down"></use>
                                </svg>
                            </div>
                            <ul class="catalog__list-categories catalog__list-categories--second-level list-reset">
                                <li class="catalog__li-categories">
                                    <div class="catalog__li-head-categories" data-catalog="li-head-categories">
                                        <span class="catalog__li-title-categories">Аэрозоли Престиж</span>
                                        <svg class="catalog__li-icon-categories">
                                            <use xlink:href="./assets/icons/sprite-svg.svg#filter-arrow-down"></use>
                                        </svg>
                                    </div>
                                    <ul
                                        class="catalog__list-categories catalog__list-categories--third-level list-reset">
                                        <li class="catalog__li-categories">
                                            <a href="#" class="catalog__li-head-categories list-reset"> <!-- active -->
                                                <span class="catalog__li-title-categories">Аэрозоль эффект металлик
                                                    Престиж</span>
                                            </a>
                                        </li>
                                        <li class="catalog__li-categories">
                                            <a href="#" class="catalog__li-head-categories list-reset"> <!-- active -->
                                                <span class="catalog__li-title-categories">Аэрозоль эффект металлик
                                                    Престиж 2</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="catalog__li-categories">
                                    <div class="catalog__li-head-categories" data-catalog="li-head-categories">
                                        <span class="catalog__li-title-categories">Акватонер Престиж</span>
                                        <svg class="catalog__li-icon-categories">
                                            <use xlink:href="./assets/icons/sprite-svg.svg#filter-arrow-down"></use>
                                        </svg>
                                    </div>
                                    <ul
                                        class="catalog__list-categories catalog__list-categories--third-level list-reset">
                                        <li class="catalog__li-categories">
                                            <a href="#" class="catalog__li-head-categories list-reset"> <!-- active -->
                                                <span class="catalog__li-title-categories">Аэрозоль эффект металлик
                                                    Престиж</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="catalog__li-categories">
                                    <div class="catalog__li-head-categories" data-catalog="li-head-categories">
                                        <span class="catalog__li-title-categories">Биотонер Престиж</span>
                                        <svg class="catalog__li-icon-categories">
                                            <use xlink:href="./assets/icons/sprite-svg.svg#filter-arrow-down"></use>
                                        </svg>
                                    </div>
                                    <ul
                                        class="catalog__list-categories catalog__list-categories--third-level list-reset">
                                        <li class="catalog__li-categories">
                                            <a href="#" class="catalog__li-head-categories list-reset"> <!-- active -->
                                                <span class="catalog__li-title-categories">Аэрозоль эффект металлик
                                                    Престиж</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="catalog__li-categories">
                                    <div class="catalog__li-head-categories" data-catalog="li-head-categories">
                                        <span class="catalog__li-title-categories">Грунт быстросохнущий </span>
                                        <svg class="catalog__li-icon-categories">
                                            <use xlink:href="./assets/icons/sprite-svg.svg#filter-arrow-down"></use>
                                        </svg>
                                    </div>
                                    <ul
                                        class="catalog__list-categories catalog__list-categories--third-level list-reset">
                                        <li class="catalog__li-categories">
                                            <a href="#" class="catalog__li-head-categories list-reset"> <!-- active -->
                                                <span class="catalog__li-title-categories">Аэрозоль эффект металлик
                                                    Престиж</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="catalog__li-categories">
                                    <a href="#" class="catalog__li-head-categories" data-catalog="li-head-categories">
                                        <span class="catalog__li-title-categories">Грунт-эмаль три в одном</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="catalog__li-categories">
                            <div class="catalog__li-head-categories" data-catalog="li-head-categories">
                                <span class="catalog__li-title-categories">Казачка</span>
                                <svg class="catalog__li-icon-categories">
                                    <use xlink:href="./assets/icons/sprite-svg.svg#filter-arrow-down"></use>
                                </svg>
                            </div>
                            <ul class="catalog__list-categories catalog__list-categories--second-level list-reset">
                                <li class="catalog__li-categories">
                                    <div class="catalog__li-head-categories" data-catalog="li-head-categories">
                                        <span class="catalog__li-title-categories">Аэрозоли Престиж</span>
                                        <svg class="catalog__li-icon-categories">
                                            <use xlink:href="./assets/icons/sprite-svg.svg#filter-arrow-down"></use>
                                        </svg>
                                    </div>
                                    <ul
                                        class="catalog__list-categories catalog__list-categories--third-level list-reset">
                                        <li class="catalog__li-categories">
                                            <a href="#" class="catalog__li-head-categories list-reset"> <!-- active -->
                                                <span class="catalog__li-title-categories">Аэрозоль эффект металлик
                                                    Престиж</span>
                                            </a>
                                        </li>
                                        <li class="catalog__li-categories">
                                            <a href="#" class="catalog__li-head-categories list-reset"> <!-- active -->
                                                <span class="catalog__li-title-categories">Аэрозоль эффект металлик
                                                    Престиж 2</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="catalog__li-categories">
                                    <div class="catalog__li-head-categories" data-catalog="li-head-categories">
                                        <span class="catalog__li-title-categories">Акватонер Престиж</span>
                                        <svg class="catalog__li-icon-categories">
                                            <use xlink:href="./assets/icons/sprite-svg.svg#filter-arrow-down"></use>
                                        </svg>
                                    </div>
                                    <ul
                                        class="catalog__list-categories catalog__list-categories--third-level list-reset">
                                        <li class="catalog__li-categories">
                                            <a href="#" class="catalog__li-head-categories list-reset"> <!-- active -->
                                                <span class="catalog__li-title-categories">Аэрозоль эффект металлик
                                                    Престиж</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="catalog__li-categories">
                                    <div class="catalog__li-head-categories" data-catalog="li-head-categories">
                                        <span class="catalog__li-title-categories">Биотонер Престиж</span>
                                        <svg class="catalog__li-icon-categories">
                                            <use xlink:href="./assets/icons/sprite-svg.svg#filter-arrow-down"></use>
                                        </svg>
                                    </div>
                                    <ul
                                        class="catalog__list-categories catalog__list-categories--third-level list-reset">
                                        <li class="catalog__li-categories">
                                            <a href="#" class="catalog__li-head-categories list-reset"> <!-- active -->
                                                <span class="catalog__li-title-categories">Аэрозоль эффект металлик
                                                    Престиж</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="catalog__li-categories">
                                    <div class="catalog__li-head-categories" data-catalog="li-head-categories">
                                        <span class="catalog__li-title-categories">Грунт быстросохнущий </span>
                                        <svg class="catalog__li-icon-categories">
                                            <use xlink:href="./assets/icons/sprite-svg.svg#filter-arrow-down"></use>
                                        </svg>
                                    </div>
                                    <ul
                                        class="catalog__list-categories catalog__list-categories--third-level list-reset">
                                        <li class="catalog__li-categories">
                                            <a href="#" class="catalog__li-head-categories list-reset"> <!-- active -->
                                                <span class="catalog__li-title-categories">Аэрозоль эффект металлик
                                                    Престиж</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="catalog__li-categories">
                                    <a href="#" class="catalog__li-head-categories" data-catalog="li-head-categories">
                                        <span class="catalog__li-title-categories">Грунт-эмаль три в одном</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="catalog__filter">
                    <form action="" class="catalog__filter-form">
                        <div class="catalog__block-filter">
                            <div class="catalog__block-head-filter">
                                <span class="catalog__head-title-filter">Цена</span>
                            </div>
                            <div class="catalog__block-body-filter">
                                @include('./filter-range.html')
                            </div>
                        </div>
                        <div class="catalog__block-filter" data-catalog="block-filter">
                            <div class="catalog__quick-link active"> <!-- active -->
                                <span class="catalog__quick-link-title">Найдено: 40</span>
                                <a href="#" class="catalog__quick-link-link link-reset">Показать</a>
                            </div>
                            <div class="catalog__block-head-filter" data-catalog="block-head-filter">
                                <span class="catalog__head-title-filter">Страна производитель</span>
                                <svg class="catalog__head-icon-filter">
                                    <use xlink:href="./assets/icons/sprite-svg.svg#filter-arrow-down"></use>
                                </svg>
                            </div>
                            <div class="catalog__block-body-filter catalog__block-body-filter--checkbox scrollbar-custom"
                                data-catalog="block-body-filter" data-scrollbar>
                                <div class="checkbox">
                                    <label data-role="" class="checkbox__label">
                                        <input type="checkbox" class="checkbox__input" name="" value="">
                                        <span class="checkbox__text">Россия</span>
                                        <span class="checkbox__decore"></span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label data-role="" class="checkbox__label">
                                        <input type="checkbox" class="checkbox__input" name="" value="" checked>
                                        <span class="checkbox__text">Германия</span>
                                        <span class="checkbox__decore"></span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label data-role="" class="checkbox__label">
                                        <input type="checkbox" class="checkbox__input" name="" value="">
                                        <span class="checkbox__text">Беларусь</span>
                                        <span class="checkbox__decore"></span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label data-role="" class="checkbox__label">
                                        <input type="checkbox" class="checkbox__input" name="" value="">
                                        <span class="checkbox__text">Франция</span>
                                        <span class="checkbox__decore"></span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label data-role="" class="checkbox__label">
                                        <input type="checkbox" class="checkbox__input" name="" value="">
                                        <span class="checkbox__text">Китай</span>
                                        <span class="checkbox__decore"></span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label data-role="" class="checkbox__label">
                                        <input type="checkbox" class="checkbox__input" name="" value="">
                                        <span class="checkbox__text">Польша</span>
                                        <span class="checkbox__decore"></span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label data-role="" class="checkbox__label">
                                        <input type="checkbox" class="checkbox__input" name="" value="">
                                        <span class="checkbox__text">Россия</span>
                                        <span class="checkbox__decore"></span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label data-role="" class="checkbox__label">
                                        <input type="checkbox" class="checkbox__input" name="" value="">
                                        <span class="checkbox__text">Германия</span>
                                        <span class="checkbox__decore"></span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label data-role="" class="checkbox__label">
                                        <input type="checkbox" class="checkbox__input" name="" value="">
                                        <span class="checkbox__text">Беларусь</span>
                                        <span class="checkbox__decore"></span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label data-role="" class="checkbox__label">
                                        <input type="checkbox" class="checkbox__input" name="" value="">
                                        <span class="checkbox__text">Франция</span>
                                        <span class="checkbox__decore"></span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label data-role="" class="checkbox__label">
                                        <input type="checkbox" class="checkbox__input" name="" value="">
                                        <span class="checkbox__text">Китай</span>
                                        <span class="checkbox__decore"></span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label data-role="" class="checkbox__label">
                                        <input type="checkbox" class="checkbox__input" name="" value="">
                                        <span class="checkbox__text">Польша</span>
                                        <span class="checkbox__decore"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="catalog__block-filter" data-catalog="block-filter">
                            <div class="catalog__quick-link"> <!-- active -->
                                <span class="catalog__quick-link-title">Найдено: 40</span>
                                <a href="#" class="catalog__quick-link-link link-reset">Показать</a>
                            </div>
                            <div class="catalog__block-head-filter" data-catalog="block-head-filter">
                                <span class="catalog__head-title-filter">Состав</span>
                                <svg class="catalog__head-icon-filter">
                                    <use xlink:href="./assets/icons/sprite-svg.svg#filter-arrow-down"></use>
                                </svg>
                            </div>
                            <div class="catalog__block-body-filter catalog__block-body-filter--checkbox scrollbar-custom"
                                data-catalog="block-body-filter" data-scrollbar>
                                <div class="checkbox">
                                    <label data-role="" class="checkbox__label">
                                        <input type="checkbox" class="checkbox__input" name="" value="">
                                        <span class="checkbox__text">Резина</span>
                                        <span class="checkbox__decore"></span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label data-role="" class="checkbox__label">
                                        <input type="checkbox" class="checkbox__input" name="" value="" checked>
                                        <span class="checkbox__text">Пластик</span>
                                        <span class="checkbox__decore"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="catalog__block-btns-filter">
                            <button type="submit" class="btn btn--theme--primary">
                                <span class="btn__text">Показать</span>
                            </button>
                            <a href="#" class="btn btn--theme--quaternary">
                                <span class="btn__text">Сбросить</span>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="catalog__content">
                <div class="catalog__wrap-sorting">
                    @include('../ui/sorting.html')
                    <button type="button" class="catalog__btn-filter" data-catalog="open-mob-filter">
                        <svg class="catalog__btn-filter-icon">
                            <use xlink:href="./assets/icons/sprite-svg.svg#tuning" />
                        </svg>
                        <span class="catalog__btn-filter-text">Фильтры</span>
                    </button>
                </div>
                <div class="catalog__wrap-cards">
                    @include('./product-preview.html')
                    @include('./product-preview.html')
                    @include('./product-preview.html')
                    @include('./product-preview.html')
                    @include('./product-preview.html')
                    @include('./product-preview.html')
                    @include('./product-preview.html')
                    @include('./product-preview.html')
                    @include('./product-preview.html')
                </div>
                <div class="catalog__wrap-nav">
                    @include('../ui/pagination.html')
                    <a href="#" class="btn btn--theme--primary">
                        <span class="btn__text">Показать еще (9)</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="catalog__wrap-text">
            <h2 class="title title--h2 title-reset">Заголовок текста h2</h2>
            <div class="catalog__block-text">
                <h3 class="title title--h3 title-reset">Заголовок текста h3</h3>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime laboriosam ex, assumenda a modi
                    consequatur ea provident explicabo eius. Amet placeat repellendus quibusdam cumque consequuntur
                    velit tempore voluptatem. Culpa, error.
                </p>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime laboriosam ex, assumenda a modi
                    consequatur ea provident explicabo eius. Amet placeat repellendus quibusdam cumque consequuntur
                    velit tempore voluptatem. Culpa, error.
                </p>
            </div>
        </div>
    </div>
</section>