<div class="catalog-card">
    <div class="catalog-card__block-preview">
        <span class="catalog-card__title">Краска и отделочные материалы</span>
        <img src="./assets/images/image-2.png" class="catalog-card__image" alt="">
    </div>
    <div class="catalog-card__block-links">
        <span class="catalog-card__title">Краска и отделочные материалы</span>
        <ul class="catalog-card__list list-reset">
            <li class="catalog-card__li">
                <a href="#" class="catalog-card__link link-reset">3-ON</a>
            </li>
            <li class="catalog-card__li">
                <a href="#" class="catalog-card__link link-reset">АКОР</a>
            </li>
            <li class="catalog-card__li">
                <a href="#" class="catalog-card__link link-reset">Ведра оцинкованные</a>
            </li>
            <li class="catalog-card__li">
                <a href="#" class="catalog-card__link link-reset">КРАТОН</a>
            </li>
        </ul>
        <a href="#" class="catalog-card__all-link link-reset">Смотреть все</a>
    </div>
</div>