<section class="categories">
    <div class="main-container max-width">
        <a href="##" class="category-card link-reset">
            <span class="category-card__sign">Краска и отделочные материалы</span>
            <img src="./assets/images/image-2.png" class="category-card__image" alt="">
        </a>
        <a href="##" class="category-card link-reset">
            <span class="category-card__sign">Инструменты</span>
            <img src="./assets/images/image-4.png" class="category-card__image" alt="">
        </a>
        <a href="##" class="category-card link-reset">
            <span class="category-card__sign">Товары для дома</span>
            <img src="./assets/images/image-3.png" class="category-card__image" alt="">
        </a>
        <a href="##" class="category-card link-reset">
            <span class="category-card__sign">Строительные материалы</span>
            <img src="./assets/images/image-1.png" class="category-card__image" alt="">
        </a>
    </div>
</section>