<section class="contacts section">
    <div class="main-container max-width">
        <h1 class="title title--h1 title-reset">Контакты</h1>
        <div class="contacts__wrap-content">
            @include('./map.html')
            <div class="contacts__block-info">
                <ul class="contacts__list list-reset">
                    <li class="contacts__li">
                        <img src="./assets/images/call.svg" alt="" class="contacts__icon">
                        <div class="contacts__box-info">
                            <span class="contacts__title-box-info">Основной телефон</span>
                            <a href="tel:89180311188" class="contacts__contact link-reset">8 (918) 03-111-88</a>
                        </div>
                    </li>
                    <li class="contacts__li">
                        <img src="./assets/images/mesages.svg" alt="" class="contacts__icon">
                        <div class="contacts__box-info">
                            <span class="contacts__title-box-info">Электронная почта</span>
                            <a href="mailto:bulunova.o@4stm.ru" class="contacts__contact link-reset">bulunova.o@4stm.ru</a>
                        </div>
                    </li>
                    <li class="contacts__li">
                        <img src="./assets/images/time.svg" alt="" class="contacts__icon">
                        <div class="contacts__box-info">
                            <span class="contacts__title-box-info">Режим работы</span>
                            <span class="contacts__contact">Пн-пт, с 9:00 до 18:30</span>
                        </div>
                    </li>
                    <li class="contacts__li">
                        <img src="./assets/images/location.svg" alt="" class="contacts__icon">
                        <div class="contacts__box-info">
                            <span class="contacts__title-box-info">Адрес</span>
                            <span class="contacts__contact">г. Кропоткин, ул. Шоссейная, 31/1</span>
                        </div>
                    </li>
                </ul>
                <div class="contacts__block-social-network">
                    <span class="contacts__social-network-title">Мы в социальных сетях</span>
                    @include('../ui/social-network.html')
                </div>
            </div>
        </div>
    </div>
</section>