<section class="delivery-payment section">
    <div class="main-container max-width">
        <h1 class="title title--h1 title-reset">Доставка и оплата</h1>
        <div class="bifurcation">
            <div class="delivery-payment__wrap-info">
                <div class="delivery-payment__inner-info">
                    <h2 class="title title--h2 title-reset">Способы доставки</h2>
                    <div class="delivery-payment__wrap-boxes-info">
                        <div class="delivery-payment__box-info">
                            <span class="delivery-payment__box-info-title">Самовывоз</span>
                            <span class="delivery-payment__box-info-description">
                                Вы можете забрать товар самовывозом с нашего склада. <br>
                                Адрес: Поселок Ковалевка, ул Салютная, 4.
                            </span>
                            <span class="delivery-payment__box-info-important">Время работы склада с 9-00 до 18-00.</span>
                        </div>
                        <div class="delivery-payment__box-info">
                            <span class="delivery-payment__box-info-title">Бесплатная доставка</span>
                            <span class="delivery-payment__box-info-description">Доставка по территории ЮФО бесплатная до дверей вашего магазина.</span>
                            <span class="delivery-payment__box-info-important">Минимальная сумма заказа в нашей компании составляет 3000 рублей.</span>
                        </div>
                        <div class="delivery-payment__box-info">
                            <span class="delivery-payment__box-info-title">Сторонние сервисы доставки</span>
                            <span class="delivery-payment__box-info-description">Возможна через любые транспортные компании, в этом случае доставку оплачивает покупатель.</span>
                        </div>
                    </div>
                </div>
                <div class="delivery-payment__inner-info">
                    <h2 class="title title--h2 title-reset">Способы оплаты</h2>
                    <div class="delivery-payment__wrap-boxes-info">
                        <div class="delivery-payment__box-info">
                            <span class="delivery-payment__box-info-title">Банковский перевод по счету</span>
                        </div>
                        <div class="delivery-payment__box-info">
                            <span class="delivery-payment__box-info-title">Наличными при получении заказа</span>
                        </div>
                    </div>
                </div>
            </div>
            @include('./form.html')
        </div>
    </div>
</section>