<section class="favourites">
    <div class="main-container max-width">
        <div class="block-title">
            <h1 class="title title--h1 title-reset">Избранное</h1>
        </div>
        <div class="favourites__wrap-cards">
            <div class="product-preview">
                <div class="product-preview__wrap-labels">
                    <div class="label label--hit">
                        <span class="label__sign">Хит!</span>
                    </div>
                </div>
                <div class="product-preview__wrap-actions">
                    <a href="#" class="product-preview__action product-preview__action--compare"></a>
                    <a href="#" class="product-preview__action product-preview__action--like active"></a>
                </div>
                <a href="#" class="product-preview__block-image">
                    <img src="./assets/images/picture-1.jpg" class="product-preview__image" alt="">
                </a>
                <a href="#" class="product-preview__title link-reset">
                    НАНОПОКРЫТИЕ ДЛЯ ДУШЕВЫХ КАБИН С АНТИБАКТЕРИАЛЬНЫМ ЭФФЕКТОМ NANOCOVER 270МЛ ТРИС (15) NEW
                </a>
                <div class="product-preview__wrap-price">
                    <div class="product-preview__block-price">
                        <span class="product-preview__price">136₽</span>
                        <span class="product-preview__old-price">200₽</span>
                    </div>
                    <div class="product-preview__block-control">
                        @include('../ui/counter.html')
                        <a href="#" class="product-preview__btn-cart">
                            <svg class="product-preview__btn-cart-icon">
                                <use xlink:href="./assets/icons/sprite-svg.svg#cart" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="product-preview">
                <div class="product-preview__wrap-labels">
                    <div class="label label--hit">
                        <span class="label__sign">Хит!</span>
                    </div>
                </div>
                <div class="product-preview__wrap-actions">
                    <a href="#" class="product-preview__action product-preview__action--compare"></a>
                    <a href="#" class="product-preview__action product-preview__action--like active"></a>
                </div>
                <a href="#" class="product-preview__block-image">
                    <img src="./assets/images/picture-1.jpg" class="product-preview__image" alt="">
                </a>
                <a href="#" class="product-preview__title link-reset">
                    НАНОПОКРЫТИЕ ДЛЯ ДУШЕВЫХ КАБИН С АНТИБАКТЕРИАЛЬНЫМ ЭФФЕКТОМ NANOCOVER 270МЛ ТРИС (15) NEW
                </a>
                <div class="product-preview__wrap-price">
                    <div class="product-preview__block-price">
                        <span class="product-preview__price">136₽</span>
                        <span class="product-preview__old-price">200₽</span>
                    </div>
                    <div class="product-preview__block-control">
                        @include('../ui/counter.html')
                        <a href="#" class="product-preview__btn-cart">
                            <svg class="product-preview__btn-cart-icon">
                                <use xlink:href="./assets/icons/sprite-svg.svg#cart" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="product-preview">
                <div class="product-preview__wrap-labels">
                    <div class="label label--hit">
                        <span class="label__sign">Хит!</span>
                    </div>
                </div>
                <div class="product-preview__wrap-actions">
                    <a href="#" class="product-preview__action product-preview__action--compare"></a>
                    <a href="#" class="product-preview__action product-preview__action--like active"></a>
                </div>
                <a href="#" class="product-preview__block-image">
                    <img src="./assets/images/picture-1.jpg" class="product-preview__image" alt="">
                </a>
                <a href="#" class="product-preview__title link-reset">
                    НАНОПОКРЫТИЕ ДЛЯ ДУШЕВЫХ КАБИН С АНТИБАКТЕРИАЛЬНЫМ ЭФФЕКТОМ NANOCOVER 270МЛ ТРИС (15) NEW
                </a>
                <div class="product-preview__wrap-price">
                    <div class="product-preview__block-price">
                        <span class="product-preview__price">136₽</span>
                        <span class="product-preview__old-price">200₽</span>
                    </div>
                    <div class="product-preview__block-control">
                        @include('../ui/counter.html')
                        <a href="#" class="product-preview__btn-cart">
                            <svg class="product-preview__btn-cart-icon">
                                <use xlink:href="./assets/icons/sprite-svg.svg#cart" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="product-preview">
                <div class="product-preview__wrap-labels">
                    <div class="label label--hit">
                        <span class="label__sign">Хит!</span>
                    </div>
                </div>
                <div class="product-preview__wrap-actions">
                    <a href="#" class="product-preview__action product-preview__action--compare"></a>
                    <a href="#" class="product-preview__action product-preview__action--like active"></a>
                </div>
                <a href="#" class="product-preview__block-image">
                    <img src="./assets/images/picture-1.jpg" class="product-preview__image" alt="">
                </a>
                <a href="#" class="product-preview__title link-reset">
                    НАНОПОКРЫТИЕ ДЛЯ ДУШЕВЫХ КАБИН С АНТИБАКТЕРИАЛЬНЫМ ЭФФЕКТОМ NANOCOVER 270МЛ ТРИС (15) NEW
                </a>
                <div class="product-preview__wrap-price">
                    <div class="product-preview__block-price">
                        <span class="product-preview__price">136₽</span>
                        <span class="product-preview__old-price">200₽</span>
                    </div>
                    <div class="product-preview__block-control">
                        @include('../ui/counter.html')
                        <a href="#" class="product-preview__btn-cart">
                            <svg class="product-preview__btn-cart-icon">
                                <use xlink:href="./assets/icons/sprite-svg.svg#cart" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="product-preview">
                <div class="product-preview__wrap-labels">
                    <div class="label label--hit">
                        <span class="label__sign">Хит!</span>
                    </div>
                </div>
                <div class="product-preview__wrap-actions">
                    <a href="#" class="product-preview__action product-preview__action--compare"></a>
                    <a href="#" class="product-preview__action product-preview__action--like active"></a>
                </div>
                <a href="#" class="product-preview__block-image">
                    <img src="./assets/images/picture-1.jpg" class="product-preview__image" alt="">
                </a>
                <a href="#" class="product-preview__title link-reset">
                    НАНОПОКРЫТИЕ ДЛЯ ДУШЕВЫХ КАБИН С АНТИБАКТЕРИАЛЬНЫМ ЭФФЕКТОМ NANOCOVER 270МЛ ТРИС (15) NEW
                </a>
                <div class="product-preview__wrap-price">
                    <div class="product-preview__block-price">
                        <span class="product-preview__price">136₽</span>
                        <span class="product-preview__old-price">200₽</span>
                    </div>
                    <div class="product-preview__block-control">
                        @include('../ui/counter.html')
                        <a href="#" class="product-preview__btn-cart">
                            <svg class="product-preview__btn-cart-icon">
                                <use xlink:href="./assets/icons/sprite-svg.svg#cart" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="product-preview">
                <div class="product-preview__wrap-labels">
                    <div class="label label--hit">
                        <span class="label__sign">Хит!</span>
                    </div>
                </div>
                <div class="product-preview__wrap-actions">
                    <a href="#" class="product-preview__action product-preview__action--compare"></a>
                    <a href="#" class="product-preview__action product-preview__action--like active"></a>
                </div>
                <a href="#" class="product-preview__block-image">
                    <img src="./assets/images/picture-1.jpg" class="product-preview__image" alt="">
                </a>
                <a href="#" class="product-preview__title link-reset">
                    НАНОПОКРЫТИЕ ДЛЯ ДУШЕВЫХ КАБИН С АНТИБАКТЕРИАЛЬНЫМ ЭФФЕКТОМ NANOCOVER 270МЛ ТРИС (15) NEW
                </a>
                <div class="product-preview__wrap-price">
                    <div class="product-preview__block-price">
                        <span class="product-preview__price">136₽</span>
                        <span class="product-preview__old-price">200₽</span>
                    </div>
                    <div class="product-preview__block-control">
                        @include('../ui/counter.html')
                        <a href="#" class="product-preview__btn-cart">
                            <svg class="product-preview__btn-cart-icon">
                                <use xlink:href="./assets/icons/sprite-svg.svg#cart" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="product-preview">
                <div class="product-preview__wrap-labels">
                    <div class="label label--hit">
                        <span class="label__sign">Хит!</span>
                    </div>
                </div>
                <div class="product-preview__wrap-actions">
                    <a href="#" class="product-preview__action product-preview__action--compare"></a>
                    <a href="#" class="product-preview__action product-preview__action--like active"></a>
                </div>
                <a href="#" class="product-preview__block-image">
                    <img src="./assets/images/picture-1.jpg" class="product-preview__image" alt="">
                </a>
                <a href="#" class="product-preview__title link-reset">
                    НАНОПОКРЫТИЕ ДЛЯ ДУШЕВЫХ КАБИН С АНТИБАКТЕРИАЛЬНЫМ ЭФФЕКТОМ NANOCOVER 270МЛ ТРИС (15) NEW
                </a>
                <div class="product-preview__wrap-price">
                    <div class="product-preview__block-price">
                        <span class="product-preview__price">136₽</span>
                        <span class="product-preview__old-price">200₽</span>
                    </div>
                    <div class="product-preview__block-control">
                        @include('../ui/counter.html')
                        <a href="#" class="product-preview__btn-cart">
                            <svg class="product-preview__btn-cart-icon">
                                <use xlink:href="./assets/icons/sprite-svg.svg#cart" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="product-preview">
                <div class="product-preview__wrap-labels">
                    <div class="label label--hit">
                        <span class="label__sign">Хит!</span>
                    </div>
                </div>
                <div class="product-preview__wrap-actions">
                    <a href="#" class="product-preview__action product-preview__action--compare"></a>
                    <a href="#" class="product-preview__action product-preview__action--like active"></a>
                </div>
                <a href="#" class="product-preview__block-image">
                    <img src="./assets/images/picture-1.jpg" class="product-preview__image" alt="">
                </a>
                <a href="#" class="product-preview__title link-reset">
                    НАНОПОКРЫТИЕ ДЛЯ ДУШЕВЫХ КАБИН С АНТИБАКТЕРИАЛЬНЫМ ЭФФЕКТОМ NANOCOVER 270МЛ ТРИС (15) NEW
                </a>
                <div class="product-preview__wrap-price">
                    <div class="product-preview__block-price">
                        <span class="product-preview__price">136₽</span>
                        <span class="product-preview__old-price">200₽</span>
                    </div>
                    <div class="product-preview__block-control">
                        @include('../ui/counter.html')
                        <a href="#" class="product-preview__btn-cart">
                            <svg class="product-preview__btn-cart-icon">
                                <use xlink:href="./assets/icons/sprite-svg.svg#cart" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="btn btn--theme--primary favourites__btn-more">
            <span class="btn__text">Показать еще (4)</span>
        </a>
    </div>
</section>