<div class="filter-range" data-filter-range="block-filter-range" data-filter-range-start="124"
    data-filter-range-finish="200" data-filter-range-min="0" data-filter-range-max="500">
    <div class="filter-range__wrapper-inputs-value">
        <div class="filter-range__block-input-value">
            <span class="filter-range__input-value-explanation">от</span>
            <input type="number" class="filter-range__input-value" data-filter-range="input-from">
        </div>
        <div class="filter-range__block-input-value">
            <span class="filter-range__input-value-explanation">до</span>
            <input type="number" class="filter-range__input-value" data-filter-range="input-before">
        </div>
    </div>
    <div class="filter-range__input-range" data-filter-range="filter-range"></div>

    <!-- <div class="bx-ui-slider-pricebar-vd" style="left: 0;right: 0;" id="colorUnavailableActive_1679091c5a880faf6fb5e6087eb1b2dc"></div>
    <div class="bx-ui-slider-pricebar-vn" style="left: 0%; right: 0%;" id="colorAvailableInactive_1679091c5a880faf6fb5e6087eb1b2dc"></div>
    <div class="bx-ui-slider-pricebar-v" style="left: 0%; right: 0%;" id="colorAvailableActive_1679091c5a880faf6fb5e6087eb1b2dc"></div>
    <div class="bx-ui-slider-range" id="drag_tracker_1679091c5a880faf6fb5e6087eb1b2dc" style="left: 0%; right: 0%;">
        <a class="bx-ui-slider-handle left" style="left:0;" href="javascript:void(0)" id="left_slider_1679091c5a880faf6fb5e6087eb1b2dc"></a>
        <a class="bx-ui-slider-handle right" style="right:0;" href="javascript:void(0)" id="right_slider_1679091c5a880faf6fb5e6087eb1b2dc"></a>
    </div> -->
</div>