<div class="form">
    <form action="" class="form__form" data-validate-form novalidate>
        <span class="form__title">Остались вопросы?</span>
        <div class="form__wrap-fields">
            <input type="text" class="input" placeholder="Имя" data-input-type="name" minlength="2">
            <input type="text" class="input" placeholder="Телефон" data-input-type="tel" data-phone-mask required>
            <textarea class="textarea" placeholder="Вопрос"></textarea>
        </div>
        <div class="checkbox form__privacy-policy">
            <label data-role="" class="checkbox__label">
                <input type="checkbox" class="checkbox__input" name="" value="">
                <span class="checkbox__text">
                    Нажимая кнопку "Оформить заказ", я даю согласие на обработку своих персональных данных в соответствии 
                    с <a href="#" class="link-reset">Политикой конфиденциальности</a>
                </span>
                <span class="checkbox__decore"></span>
            </label>
        </div>
        <button type="submit" class="btn btn--theme--primary">
            <span class="btn__text">Задать вопрос</span>
        </button>
    </form>
</div>