<div class="list-data" data-list-data="main">
    <span class="list-data__title">Краткие характеристики</span>
    <table class="list-data__table" data-list-data="table">
        <tr class="list-data__tr">
            <td class="list-data__td list-data__td--decore">
                <span class="list-data__property">Основной материал</span>
            </td>
            <td class="list-data__td">
                <span class="list-data__value">Гипс</span>
            </td>
        </tr>
        <tr class="list-data__tr">
            <td class="list-data__td list-data__td--decore">
                <span class="list-data__property">Страна производства</span>
            </td>
            <td class="list-data__td">
                <span class="list-data__value">Россия</span>
            </td>
        </tr>
        <tr class="list-data__tr">
            <td class="list-data__td list-data__td--decore">
                <span class="list-data__property">Тип применения</span>
            </td>
            <td class="list-data__td">
                <span class="list-data__value">Универсальный</span>
            </td>
        </tr>
        <tr class="list-data__tr">
            <td class="list-data__td list-data__td--decore">
                <span class="list-data__property">Материал поверхности применения</span>
            </td>
            <td class="list-data__td">
                <span class="list-data__value">Газобетонный блок, Кирпич</span>
            </td>
        </tr>
        <tr class="list-data__tr">
            <td class="list-data__td list-data__td--decore">
                <span class="list-data__property">Минимальная толщина слоя (мм) </span>
            </td>
            <td class="list-data__td">
                <span class="list-data__value">6</span>
            </td>
        </tr>
        <tr class="list-data__tr">
            <td class="list-data__td list-data__td--decore">
                <span class="list-data__property">Макстмальная толщина слоя (мм) </span>
            </td>
            <td class="list-data__td">
                <span class="list-data__value">98</span>
            </td>
        </tr>
        <tr class="list-data__tr">
            <td class="list-data__td list-data__td--decore">
                <span class="list-data__property">Область применения</span>
            </td>
            <td class="list-data__td">
                <span class="list-data__value">Для перекрытий и полов</span>
            </td>
        </tr>
        <tr class="list-data__tr">
            <td class="list-data__td list-data__td--decore">
                <span class="list-data__property">Страна производства</span>
            </td>
            <td class="list-data__td">
                <span class="list-data__value">Россия</span>
            </td>
        </tr>
        <tr class="list-data__tr">
            <td class="list-data__td list-data__td--decore">
                <span class="list-data__property">Торговая марка</span>
            </td>
            <td class="list-data__td">
                <span class="list-data__value">Isover</span>
            </td>
        </tr>
        <tr class="list-data__tr">
            <td class="list-data__td list-data__td--decore">
                <span class="list-data__property">Минимальная толщина слоя (мм) </span>
            </td>
            <td class="list-data__td">
                <span class="list-data__value">6</span>
            </td>
        </tr>
        <tr class="list-data__tr">
            <td class="list-data__td list-data__td--decore">
                <span class="list-data__property">Тип применения</span>
            </td>
            <td class="list-data__td">
                <span class="list-data__value">Универсальный</span>
            </td>
        </tr>
    </table>
    <a href="##" class="list-data__link link-reset" data-list-data="btn-more-data">Узнать больше</a>
</div>