<section class="making-order">
    <div class="main-container max-width">
        <h1 class="title title--h1 title-reset">Оформление заказа</h1>
        <div class="bifurcation">
            <form class="making-order__wrap-decoration" action="" novalidate data-validate-form>
                <div class="making-order__block-stage making-order__block-stage--product-cards"> <!-- active -->
                    <div class="making-order__stage-content">
                        <div class="making-order__block-head">
                            <div class="making-order__block-stage-title">
                                <div class="making-order__block-number-stage">
                                    <span class="making-order__number-stage">1</span>
                                    <img src="./assets/images/tick.svg" class="making-order__number-stage-icon" alt="">
                                </div>
                                <span class="making-order__stage-title">Товары в заказе</span>
                            </div>
                            <button class="making-order__btn-edit">Изменить</button>
                        </div>
                        <div class="making-order__block-body">
                            <div class="making-order__wrap-content">
                                <div class="second-product-card">
                                    <img src="./assets/images/product-1.jpeg" class="second-product-card__image" alt="">
                                    <div class="second-product-card__block-info">
                                        <span class="second-product-card__name">Ведро пластиковое строительное 20 литров
                                            черное с ручкой метал(900 палетта)</span>
                                        <span class="second-product-card__art">Артикул М1726 </span>
                                    </div>
                                    <span class="second-product-card__quantity">1 штука</span>
                                    <div class="second-product-card__block-price">
                                        <span class="second-product-card__price">254.00р</span>
                                        <span class="second-product-card__old-price">380.00р</span>
                                    </div>
                                </div>
                                <div class="second-product-card">
                                    <img src="./assets/images/product-2.jpeg" class="second-product-card__image" alt="">
                                    <div class="second-product-card__block-info">
                                        <span class="second-product-card__name">Ведро пластиковое строительное</span>
                                        <span class="second-product-card__art">Артикул М1726 </span>
                                    </div>
                                    <span class="second-product-card__quantity">1 штука</span>
                                    <div class="second-product-card__block-price">
                                        <span class="second-product-card__price">254.00р</span>
                                        <span class="second-product-card__old-price">380.00р</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="making-order__block-btns">
                        <button type="button" class="btn btn--theme--primary making-order__btn-forth">
                            <span class="btn__text">Далее</span>
                            <svg class="btn__icon">
                                <use xlink:href="./assets/icons/sprite-svg.svg#long-arrow-left" />
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="making-order__block-stage making-order__block-stage--radio"> <!-- active -->
                    <div class="making-order__stage-content">
                        <div class="making-order__block-head">
                            <div class="making-order__block-stage-title">
                                <div class="making-order__block-number-stage">
                                    <span class="making-order__number-stage">2</span>
                                    <img src="./assets/images/tick.svg" class="making-order__number-stage-icon" alt="">
                                </div>
                                <span class="making-order__stage-title">Оплата</span>
                            </div>
                            <button class="making-order__btn-edit">Изменить</button>
                        </div>
                        <div class="making-order__block-body">
                            <div class="making-order__wrap-content">
                                <div class="radio">
                                    <label data-role="" class="radio__label">
                                        <input type="radio" class="radio__input" name="1" value="" checked>
                                        <span class="radio__text">Банковский перевод по счету</span>
                                        <span class="radio__decore"></span>
                                    </label>
                                </div>
                                <div class="radio">
                                    <label data-role="" class="radio__label">
                                        <input type="radio" class="radio__input" name="1" value="">
                                        <span class="radio__text">Наличными при получении заказа</span>
                                        <span class="radio__decore"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="making-order__block-result">
                                <span class="making-order__result-property">Способ оплаты: </span>
                                <span class="making-order__result-value">Банковский перевод по счету</span>
                            </div>
                        </div>
                    </div>
                    <div class="making-order__block-btns">
                        <button type="button" class="btn btn--theme--tertiary">
                            <span class="btn__text">Назад</span>
                        </button>
                        <button type="button" class="btn btn--theme--primary making-order__btn-forth">
                            <span class="btn__text">Далее</span>
                            <svg class="btn__icon">
                                <use xlink:href="./assets/icons/sprite-svg.svg#long-arrow-left" />
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="making-order__block-stage making-order__block-stage--checkbox"> <!-- active -->
                    <div class="making-order__stage-content">
                        <div class="making-order__block-head">
                            <div class="making-order__block-stage-title">
                                <div class="making-order__block-number-stage">
                                    <span class="making-order__number-stage">3</span>
                                    <img src="./assets/images/tick.svg" class="making-order__number-stage-icon" alt="">
                                </div>
                                <span class="making-order__stage-title">Доставка</span>
                            </div>
                            <button class="making-order__btn-edit">Изменить</button>
                        </div>
                        <div class="making-order__block-body">
                            <div class="making-order__wrap-content">
                                <div class="checkbox making-order__stage-checkbox">
                                    <label data-role="" class="checkbox__label">
                                        <input type="radio" class="checkbox__input" name="2" value="">
                                        <span class="checkbox__decore"></span>
                                        <div class="making-order__checkbox-content">
                                            <span class="making-order__checkbox-title">Самовывоз</span>
                                            <div class="making-order__checkbox-block-text">
                                                <span>
                                                    Вы можете забрать товар самовывозом с нашего склада.
                                                </span>
                                                <span>
                                                    Адрес: Поселок Ковалевка, ул Салютная, 4.
                                                </span>
                                            </div>
                                            <span class="making-order__checkbox-important-info">Время работы склада с
                                                9-00 до 18-00.</span>
                                        </div>
                                    </label>
                                </div>
                                <div class="checkbox making-order__stage-checkbox">
                                    <label data-role="" class="checkbox__label">
                                        <input type="radio" class="checkbox__input" name="2" value="" checked>
                                        <span class="checkbox__decore"></span>
                                        <div class="making-order__checkbox-content">
                                            <span class="making-order__checkbox-title">Бесплатная доставка</span>
                                            <div class="making-order__checkbox-block-text">
                                                <span>
                                                    Доставка по территории ЮФО бесплатная до дверей вашего магазина.
                                                </span>
                                            </div>
                                            <span class="making-order__checkbox-important-info">Минимальная сумма заказа
                                                в нашей компании составляет 3000 рублей.</span>
                                        </div>
                                    </label>
                                </div>
                                <div class="checkbox making-order__stage-checkbox">
                                    <label data-role="" class="checkbox__label">
                                        <input type="radio" class="checkbox__input" name="2" value="">
                                        <span class="checkbox__decore"></span>
                                        <div class="making-order__checkbox-content">
                                            <span class="making-order__checkbox-title">Сторонние сервисы доставки</span>
                                            <div class="making-order__checkbox-block-text">
                                                <span>
                                                    Возможна через любые транспортные компании, в этом случае доставку
                                                    оплачивает покупатель.
                                                </span>
                                            </div>
                                        </div>
                                    </label>
                                </div>
                            </div>
                            <div class="making-order__block-result">
                                <span class="making-order__result-property">Способ доставки: </span>
                                <span class="making-order__result-value">Бесплатная доставка по ЮФО</span>
                            </div>
                        </div>
                    </div>
                    <div class="making-order__block-btns">
                        <button type="button" class="btn btn--theme--tertiary">
                            <span class="btn__text">Назад</span>
                        </button>
                        <button type="button" class="btn btn--theme--primary making-order__btn-forth">
                            <span class="btn__text">Далее</span>
                            <svg class="btn__icon">
                                <use xlink:href="./assets/icons/sprite-svg.svg#long-arrow-left" />
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="making-order__block-stage making-order__block-stage--form"> <!-- active -->
                    <div class="making-order__stage-content">
                        <div class="making-order__block-head">
                            <div class="making-order__block-stage-title">
                                <div class="making-order__block-number-stage">
                                    <span class="making-order__number-stage">4</span>
                                    <img src="./assets/images/tick.svg" class="making-order__number-stage-icon" alt="">
                                </div>
                                <span class="making-order__stage-title">Покупатель</span>
                            </div>
                            <button class="making-order__btn-edit">Изменить</button>
                        </div>
                        <div class="making-order__block-body">
                            <div class="making-order__wrap-content">
                                <div class="making-order__block-input">
                                    <span class="making-order__input-sign">ФИО</span>
                                    <input type="text" class="input" placeholder="Андреев Андрей Андреевич"
                                        data-input-type="name" minlength="2">
                                </div>
                                <div class="making-order__block-input">
                                    <span class="making-order__input-sign">Телефон</span>
                                    <input type="text" class="input" placeholder="+7(___) --- -- --"
                                        data-input-type="tel" data-phone-mask required>
                                </div>
                                <div class="making-order__block-input">
                                    <span class="making-order__input-sign">Email</span>
                                    <input type="text" class="input" placeholder="example@gmail.com"
                                        data-input-type="email" required>
                                </div>
                                <div class="making-order__block-input">
                                    <span class="making-order__input-sign">Адрес</span>
                                    <input type="text" class="input" placeholder="Улица, дом, квартира"
                                        data-input-type="address" minlength="2" required>
                                </div>
                                <div class="making-order__block-input">
                                    <span class="making-order__input-sign">Комментарий</span>
                                    <textarea class="textarea" placeholder="Комментарий"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="making-order__block-btns">
                        <button type="button" class="btn btn--theme--tertiary">
                            <span class="btn__text">Назад</span>
                        </button>
                        <span class="making-order__privacy-policy">
                            Нажимая кнопку «Оформить заказ», я даю согласие на обработку своих
                            персональных данных в соответствии с <a href="#">Политикой конфиденциальности</a>
                        </span>
                        <button type="submit" class="btn btn--theme--primary making-order__btn-forth">
                            <span class="btn__text">Оформить заказ</span>
                        </button>
                    </div>
                </div>
            </form>
            @include('./order-details.html')
        </div>
    </div>
</section>