<div class="nav-bar" data-nav-bar="main">
    <div class="nav-bar__block-mob" data-nav-bar="block-mob">
        <div class="nav-bar__block-mob-text">
            <svg class="nav-bar__icon">
                <use xlink:href="./assets/icons/sprite-svg.svg#home" />
            </svg>
            <span class="nav-bar__text">Главная</span>
        </div>
        <svg class="nav-bar__mob-icon">
            <use xlink:href="./assets/icons/sprite-svg.svg#caret-down-2" />
        </svg>
    </div>
    <ul class="nav-bar__list list-reset" data-nav-bar="list">
        <li class="nav-bar__li active">
            <a href="#" class="nav-bar__link link-reset">
                <svg class="nav-bar__icon">
                    <use xlink:href="./assets/icons/sprite-svg.svg#home" />
                </svg>
                <span class="nav-bar__text">Главная</span>
            </a>
        </li>
        <li class="nav-bar__li">
            <a href="#" class="nav-bar__link link-reset">
                <svg class="nav-bar__icon">
                    <use xlink:href="./assets/icons/sprite-svg.svg#pen" />
                </svg>
                <span class="nav-bar__text">Личные данные</span>
            </a>
        </li>
        <li class="nav-bar__li">
            <a href="#" class="nav-bar__link link-reset">
                <svg class="nav-bar__icon">
                    <use xlink:href="./assets/icons/sprite-svg.svg#bag-nav" />
                </svg>
                <span class="nav-bar__text">Текущие заказы</span>
            </a>
        </li>
        <li class="nav-bar__li">
            <a href="#" class="nav-bar__link link-reset">
                <svg class="nav-bar__icon">
                    <use xlink:href="./assets/icons/sprite-svg.svg#calendar-search" />
                </svg>
                <span class="nav-bar__text">История заказов</span>
            </a>
        </li>
        <li class="nav-bar__li">
            <a href="#" class="nav-bar__link link-reset">
                <svg class="nav-bar__icon">
                    <use xlink:href="./assets/icons/sprite-svg.svg#logout" />
                </svg>
                <span class="nav-bar__text">Выйти из профиля</span>
            </a>
        </li>
    </ul>
</div>