<section class="news-detailed section">
    <div class="main-container max-width">
        <h1 class="title title--h1 title-reset">АКОР - крупнейший производитель малярного инструмента</h1>
        <div class="bifurcation">
            <div class="news-detailed__wrap-info">
                <img src="./assets/images/picture-5.jpg" alt="" class="news-detailed__image">
                <div class="news-detailed__block-info">
                    <span class="news-detailed__date">12.05.2020</span>
                    <h2 class="title title--h2 title-reset">Запущены новые экструзионные линии</h2>
                </div>
                <div class="news-detailed__block-text">
                    <p>
                        Новые высокотехнологичные экструзионные линии для производства валиков установлены на производственных площадках АКОР. Современные технические требования к валикам находятся в рамках минимальных отклонений от заданных норм. Так, допустимые технические отклонения по трубе валика достигают десятых, а то и сотых, значений миллиметра с тем, чтобы получить предельную эффективность в покрасочных работах и обеспечить максимальную надежность конструкции. В производственных цехах АКОР установлены самые современные экструзионные комплексы, позволяющие работать в минимальных зазорах при высочайшей мощности экструзии.
                    </p>
                    <p>
                        Новые высокотехнологичные экструзионные линии для производства валиков установлены на производственных площадках АКОР. Современные технические требования к валикам находятся в рамках минимальных отклонений от заданных норм. Так, допустимые технические отклонения по трубе валика достигают десятых, а то и сотых, значений миллиметра с тем, чтобы получить предельную эффективность в покрасочных работах и обеспечить максимальную надежность конструкции. В производственных цехах АКОР установлены самые современные экструзионные комплексы, позволяющие работать в минимальных зазорах при высочайшей мощности экструзии.
                    </p>
                </div>
            </div>
            @include('./form.html')
        </div>
    </div>
</section>