<section class="not-found">
    <picture class="not-found__bg">
        <source srcset="./assets/images/picture-3.jpg" media="(min-width: 992px)">
        <img src="./assets/images/picture-3-mob.jpg" alt="">
    </picture>
    <div class="main-container max-width">
        <h1 class="title title--h1 title-reset">Избранное</h1>
        <div class="not-found__wrap-content">
            <div class="not-found__block-image">
                <img src="./assets/images/heart-shine.svg" class="not-found__image" alt="">
            </div>
            <div class="not-found__block-info">
                <span class="not-found__title">Тут будут понравившиеся Вам товары!</span>
                <span class="not-found__subtitle">
                    Нажимайте
                    <svg class="not-found__icon">
                        <use xlink:href="./assets/icons/sprite-svg.svg#like" />
                    </svg>
                    , чтобы сохранять товары в избранное.
                </span>
            </div>
            <div class="not-found__block-btns">
                <a href="#" class="btn btn--theme--primary">
                    <span class="btn__text">В каталог</span>
                </a>
                <a href="#" class="btn btn--theme--secondary">
                    <span class="btn__text">На главную</span>
                </a>
            </div>
        </div>
    </div>
</section>