<div class="order-details">
    <span class="order-details__title">Детали заказа</span>
    <ul class="order-details__list list-reset">
        <li class="order-details__li order-details__decore">
            <span class="order-details__li-property">2 товара</span>
            <span class="order-details__li-value">875 см</span>
        </li>
        <li class="order-details__li order-details__decore">
            <span class="order-details__li-property">Скидка</span>
            <span class="order-details__li-value">210₽</span>
        </li>
        <li class="order-details__li order-details__decore">
            <span class="order-details__li-property">Доставка</span>
            <span class="order-details__li-value">110₽</span>
        </li>
    </ul>
    <div class="order-details__block-result order-details__decore">
        <span class="order-details__result-property">Итого</span>
        <span class="order-details__result-value">665₽</span>
    </div>
</div>