<section class="page-not-found">
    <div class="main-container max-width">
        <div class="page-not-found__block-image">
            <img src="./assets/images/404.svg" class="page-not-found__image" alt="">
        </div>
        <div class="page-not-found__block-info">
            <span class="page-not-found__title">Страница не найдена</span>
            <span class="page-not-found__subtitle">Пора вернуться к покупкам</span>
        </div>
        <div class="page-not-found__block-btns">
            <a href="##">В каталог</a>
            <a href="##">На главную</a>
        </div>
    </div>
</section>