<section class="personal-data">
    <div class="main-container max-width">
        <h1 class="title title--h1 title-reset">Личные данные</h1>
        <div class="bifurcation">
            <div class="personal-data__wrap-info">
                <div class="personal-data__inner-data">
                    <div class="personal-data__block-data">
                        <span class="personal-data__sign-data">Имя</span>
                        <input type="text" class="input" value="Виктор" disabled>
                    </div>
                    <div class="personal-data__block-data">
                        <span class="personal-data__sign-data">Фамилия</span>
                        <input type="text" class="input" value="Нестеренко" disabled>
                    </div>
                    <div class="personal-data__block-data">
                        <span class="personal-data__sign-data">Отчество</span>
                        <input type="text" class="input" value="Сергеевич" disabled>
                    </div>
                    <div class="personal-data__block-data">
                        <span class="personal-data__sign-data">Телефон</span>
                        <input type="text" class="input" value="+7 918 343-23-43" disabled>
                    </div>
                    <div class="personal-data__block-data">
                        <span class="personal-data__sign-data">Пароль</span>
                        <input type="text" class="input" value="12345678qwerty" disabled>
                    </div>
                </div>
            </div>
            @include('./nav-bar.html')
        </div>
    </div>
</section>