<section class="personal-account">
    <div class="main-container max-width">
        <h1 class="title title--h1 title-reset">Личный кабинет</h1>
        <div class="personal-account__wrap-cards">
            <a href="#" class="personal-account__card">
                <div class="personal-account__card-info">
                    <span class="personal-account__card-title">Личные данные</span>
                    <div class="personal-account__card-info-block-text">
                        <span class="personal-account__card-info-text">Последнее изменение</span>
                        <span class="personal-account__card-info-text">17.08.2020</span>
                    </div>
                </div>
                <svg class="personal-account__icon">
                    <use xlink:href="./assets/icons/sprite-svg.svg#user-id" />
                </svg>
            </a>
            <a href="#" class="personal-account__card">
                <div class="personal-account__card-info">
                    <span class="personal-account__card-title">Текущие заказы</span>
                    <div class="personal-account__card-info-block-text">
                        <span class="personal-account__card-info-text">43 активных заказа</span>
                    </div>
                </div>
                <svg class="personal-account__icon">
                    <use xlink:href="./assets/icons/sprite-svg.svg#bag-2" />
                </svg>
            </a>
            <a href="#" class="personal-account__card">
                <div class="personal-account__card-info">
                    <span class="personal-account__card-title">История заказов</span>
                    <div class="personal-account__card-info-block-text">
                        <span class="personal-account__card-info-text">Последнее изменение</span>
                        <span class="personal-account__card-info-text">17.08.2020</span>
                    </div>
                </div>
                <svg class="personal-account__icon">
                    <use xlink:href="./assets/icons/sprite-svg.svg#tablet" />
                </svg>
            </a>
        </div>
        <a href="#" class="btn btn--theme--primary personal-account__btn-logout">
            <span class="btn__text">Выйти из личного кабинета</span>
        </a>
    </div>
</section>