<section class="product-card">
    <div class="main-container max-width">
        <div class="block-title">
            <h1 class="title title--h1 title-reset">
                Ведро пластиковое строительное 20 литров черное
                с металлической ручкой (900 палетта)
            </h1>
        </div>
        <div class="product-card__wrap-actions">
            <a href="#" class="action">
                <span class="action__text">В сравнение</span>
            </a>
            <a href="#" class="action">
                <span class="action__text">В избранное</span>
            </a>
        </div>
    </div>
</section>