<a href="#" class="promotion-card promotion-card--theme--primary link-reset">
    <div class="promotion-card__wrap-info">
        <span class="promotion-card__sign">Акция - уценка!</span>
        <span class="promotion-card__title">Лакокрасочные покрытия</span>
        <div class="promotion-card__link">
            <span class="promotion-card__link-title">Узнать больше</span>
            <div class="promotion-card__link-block-icon">
                <svg class="promotion-card__link-icon">
                    <use xlink:href="./assets/icons/sprite-svg.svg#long-arrow-right"/>
                </svg>
            </div>
        </div>
    </div>
    <div class="promotion-card__block-image">
        <img src="./assets/images/image-5.png" class="promotion-card__image" alt="">
    </div>
</a>