<div class="second-product-card">
    <img src="./assets/images/product-1.jpeg" class="second-product-card__image" alt="">
    <div class="second-product-card__block-info">
        <span class="second-product-card__name">Ведро пластиковое строительное 20 литров
            черное с ручкой метал(900 палетта)</span>
        <span class="second-product-card__art">Артикул: М1726 </span>
    </div>
    <span class="second-product-card__quantity">1 штука</span>
    <div class="second-product-card__block-price">
        <span class="second-product-card__price">254.00р</span>
        <span class="second-product-card__old-price">380.00р</span>
    </div>
</div>