.title {
    line-height: 1.1em;

    b {
        color: $color-2;
    }

    &--h1,
    &--h2 {
        font-weight: 600;
    }

    &--h1,
    &--h1 b {
        @include adaptiv-font(40, 24);
    }

    &--h2,
    &--h2 b {
        @include adaptiv-font(32, 24);
    }
}