@media screen and (max-width: 1440px) {
    .s-cards {
        .swiper-wrapper {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    .product-card {
        &__wrap-content {
            grid-template-columns: 570px minmax(550px, 670px);
            grid-column-gap: 30px;
        }
    }
}