@media screen and (max-width: 1200px) {
    .advantages {
        &__list {
            grid-column-gap: 60px;
        }
    }

    .s-cards {
        .swiper-wrapper {
            grid-column-gap: 20px;
            grid-row-gap: 20px;
        }
    }

    .categories {
        .main-container {
            overflow-x: auto;
        }
    }

    .category-card {

        &__image {
            width: 172px;
            height: 124px;
        }
    }

    .header {

        &__nav-list,
        .menu {
            grid-column-gap: 30px;
        }
    }

    .news {

        &__wrap-cards {
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 24px;
            grid-row-gap: 24px;
        }
    }

    .bifurcation {
        grid-template-columns: 1fr;
        grid-row-gap: 24px;

        .form {
            margin-top: 0;
            max-width: 400px;
        }
    }

    .about-us {
        &__banner-image {
            width: 400px;
        }
    }

    .product-card {
        &__wrap-content {
            grid-template-columns: minmax(200px, 1fr);
            justify-content: center;
        }

        &__wrap-info {
            margin-top: 24px;
        }
    }

    .favourites {
        &__wrap-cards {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}