.header {
    flex: 0 0 auto;
    position: fixed;
    z-index: 11;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $color-1;

    &--fixed {
        .header {

            &__wrap-nav,
            &__wrap-links {
                height: 0px;
                padding: 0;
                opacity: 0;
                overflow: hidden;
                pointer-events: none;
            }
        }
    }

    &__wrap-nav,
    &__wrap-links {
        transition: height 0.3s, padding 0.3s, opacity 0.3s;
    }

    &__wrap-nav {
        display: grid;
        grid-template-columns: repeat(2, max-content) auto;
        grid-auto-flow: column;
        align-items: center;
        grid-column-gap: 48px;
        padding-top: 19px;
        height: 48px;

        .header__link {
            justify-self: end;
        }
    }

    &__nav {}

    &__nav-list {
        display: grid;
        grid-auto-columns: max-content;
        grid-auto-flow: column;
        grid-column-gap: 48px;
    }

    &__nav-li {}

    &__nav-link {
        color: $main-color;
        white-space: nowrap;
    }

    &__link {
        color: $color-5;
    }

    &__wrap-info {
        display: grid;
        grid-template-columns: max-content minmax(200px, 794px) auto;
        grid-column-gap: 8px;
        padding: 24px 0;
    }

    &__btn-catalog {
        .btn__icon {
            display: none;
        }
    }

    &__wrap-links {
        padding: 24px 0;
        border-top: 1px solid rgba(235, 236, 236, 0.7);
        height: 73px;
    }

    &__links-list {
        display: grid;
        grid-auto-columns: max-content;
        grid-auto-flow: column;
        align-items: center;
        justify-content: space-between;
        grid-column-gap: 16px;
        overflow-x: auto;
        overflow-y: hidden;
        padding-bottom: 5px;
    }

    &__links-li {}

    &__links-link {
        color: $main-color;
        font-size: 14px;
        text-transform: uppercase;

        b {
            font-weight: 400;
            color: $color-2;
            font-size: 14px;
            text-transform: uppercase;
        }
    }

    .menu {
        margin-left: auto;
        padding-left: 20px;
    }
}