<header class="header">
    <div class="main-container max-width">
        <div class="header__wrap-nav">
            <a href="##" class="logo">
                <img src="./assets/images/logo-dark.svg" class="logo__image" alt="">
            </a>
            <nav class="header__nav">
                <ul class="header__nav-list list-reset">
                    <li class="header__nav-li">
                        <a href="#" class="header__nav-link link-reset">О компании</a>
                    </li>
                    <li class="header__nav-li">
                        <a href="#" class="header__nav-link link-reset">Оплата и доставка</a>
                    </li>
                    <li class="header__nav-li">
                        <a href="#" class="header__nav-link link-reset">Контакты</a>
                    </li>
                    <li class="header__nav-li">
                        <a href="#" class="header__nav-link link-reset">Скачать каталог</a>
                    </li>
                </ul>
            </nav>
            <a href="tel:79180311188" class="header__link link-reset">+7 (918) 03-111-88</a>
        </div>
        <div class="header__wrap-info">
            <a href="#" class="btn btn--theme--primary">
                <span class="btn__text">Каталог</span>
            </a>
            @include('../ui/search.html')
            @include('../components/menu.html')
        </div>
        <div class="header__wrap-links">
            <ul class="header__links-list list-reset">
                <li class="header__links-li">
                    <a href="#" class="header__links-link link-reset"><b>Новинки</b></a>
                </li>
                <li class="header__links-li">
                    <a href="#" class="header__links-link link-reset"><b>Хит</b></a>
                </li>
                <li class="header__links-li">
                    <a href="#" class="header__links-link link-reset">Инструменты</a>
                </li>
                <li class="header__links-li">
                    <a href="#" class="header__links-link link-reset">Краска и отделочные материалы</a>
                </li>
                <li class="header__links-li">
                    <a href="#" class="header__links-link link-reset">Товары для дома</a>
                </li>
                <li class="header__links-li">
                    <a href="#" class="header__links-link link-reset">Строительные материалы</a>
                </li>
            </ul>
        </div>
    </div>
</header>