<header class="header">
    <div class="main-container max-width">
        <div class="header__wrap-nav">
            <a href="##" class="logo">
                <img src="./assets/images/logo-dark.svg" class="logo__image" alt="">
            </a>
            <nav class="header__nav">
                <ul class="header__nav-list list-reset">
                    <li class="header__nav-li">
                        <a href="#" class="header__nav-link link-reset">О компании</a>
                    </li>
                    <li class="header__nav-li">
                        <a href="#" class="header__nav-link link-reset">Оплата и доставка</a>
                    </li>
                    <li class="header__nav-li">
                        <a href="#" class="header__nav-link link-reset">Контакты</a>
                    </li>
                    <li class="header__nav-li">
                        <a href="#" class="header__nav-link link-reset">Скачать каталог</a>
                    </li>
                </ul>
            </nav>
            <a href="tel:79180311188" class="header__link link-reset">+7 (918) 03-111-88</a>
        </div>
    </div>
</header>