@import '_vars';
@import '_mixins';

.main-container {
    margin-left: auto;
    margin-right: auto;
}

.max-width {
    max-width: 1420px;
    padding-left: 20px;
    padding-right: 20px;
}

.section {
    padding-top: 27px;
    padding-bottom: 27px;

    &--theme--primary {
        background-color: $color-1;
    }

    &--theme--secondary {
        background-color: $color-10;
    }

    .title,
    .block-title {
        margin-bottom: 24px;
    }
}

.scroll-lock {
    overflow: hidden;
}

.hidden {
    display: none;
}

a {
    color: $color-1;
    transition: color $transition-time;

    &:hover {
        color: $color-2;
    }
}

.title-reset {
    margin: 0;
}

.link-reset {
    text-decoration: none;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.bifurcation {
    display: grid;
    grid-template-columns: minmax(750px, 947px) max-content;
    justify-content: space-between;
    grid-column-gap: 40px;
    align-items: start;

    &--personal-account {
        grid-template-columns: minmax(550px, 907px) max-content;
        margin-top: 24px;

        .nav-bar {
            width: 433px;
        }
    }

    .form {
        position: sticky;
        top: 110px;
        margin-top: 60px;
    }
}