// Colors

$main-color: #2B2A29;

$color-1: #fff;
$color-2: #DE4F22;
$color-3: #C63B10;
$color-4: #F4F5F5;
$color-5: #5B5B5B;
$color-6: #FDB831;
$color-7: #69B86C;
$color-8: #EBECEC;
$color-9: #898989;

// Fonts

$main-font: 'Manrope';

// Other

$transition-time: 0.3s;

$maxWidth: 1920;